
    <head>



    </head>
    <body><h1>LogIn</h1>

    <form action="" method="post">
      {% csrf_token %}
      
      {{ form.as_p }}
      <button class="btn btn-large btn-secondary" type="submit">Sign in</button>
    </form>


</body>
    


